<div class="container-fluid">
    <div class="logo">
        <a href="/main"><img style="width:90px; height:65px" src="../img/TTmainLogo.png" alt=""></a>
    </div>
    <nav class="main-menu mobile-menu">
        <ul>
            <li><a href="reservation_planner ">Request</a></li>
            <li><a href="/reservation_planner">Planner Request</a></li>
            <li><a href="/reservation_traveler">Traveler Request</a></li>
        </ul>
    </nav>
    <div class="header-right">
        <div class="user-access">
            <a href="/mypage" class="pink_btn" style="border-radius: 5px">마이페이지</a>
            <a href="/logout" class="pink_btn" style="border-radius: 5px">로그아웃</a>
        </div>
        <!--                    <a href="#" class="primary-btn">Add Listing</a>-->
    </div>
    <div id="mobile-menu-wrap"></div>
</div>