

<div class="container-fluid">
    <div class="logo">
        <a href="/main"><img style="position:absolute; top:20px;width:90px; height:65px; border-radius: 16px" src="../img/TTmainLogo.png" alt=""></a>
    </div>
    <nav class="main-menu mobile-menu">
        <ul>

        </ul>
    </nav>
    <div class="header-right">
        <div class="user-access" style="width: 350px; text-align: -webkit-right;">
<!--            <a href="login.ejs">Register/</a>-->
<!--            <a href="login.ejs">Login</a>-->
<!--            <a href="contact.html">Request</a>-->
            <div class="svg-wrapper" style="width: 170px; margin-right: 180px; margin-top:22px; ">
                <svg height="60" width="170" >
                    <rect class="shape" height="60" width="170"/>
                </svg>
                <a href='/plannerRegister'class="text" value="플래너 가입하기" style="font-size:smaller; font-weight: bold; color:#fff" data-toggle="tooltip" data-placement='bottom' title="자신만의 장소를 공유해보세요">플래너 가입하기</a>
            </div>
            <div class="svg-wrapper" style="width: 170px; margin-left:190px;margin-top: -2px;margin-right: 0px; position: absolute">
                <svg height="60" width="170" >
                    <rect class="shape" height="60" width="170"/>
                </svg>
                <a href="/login" class="text" style="font-weight:bold; border-radius: 5px">회원가입/로그인</a>
            </div>
        </div>

<!--        <div class="svg-wrapper">-->
<!--            <rect class="shape" height="60" width="320"/>-->
<!--&lt;!&ndash;        <a class="balloon" data-toggle="tooltip"  style="top:45px; left:135px;font-weight:bold;font-size:12px;padding:8px;color:#fff;">자신만의 장소를 공유해보세요</a>&ndash;&gt;-->
<!--        </div>-->
    </div>

    <div id="mobile-menu-wrap"></div>

</div>
