





<div class="container-fluid">
    <div class="logo">
        <a href="/main"><img style="width:180px; height:65px" src="../img/yeah.png" alt=""></a>
    </div>
    <nav class="main-menu mobile-menu">
        <ul>
<!--            <li><a href="/showplannerlist">Planners</a></li>-->
<!--            <li><a href="contact.html">Request</a></li>-->
        </ul>
    </nav>
    <div class="header-right">
        <div class="user-access">
<!--            <a href="login.ejs">Register/</a>-->
<!--            <a href="login.ejs">Login</a>-->
<!--            <a href="contact.html">Request</a>-->
        </div>
        <a href="/login" class="primary-btn">Register/Login</a>

    </div>
    <div id="mobile-menu-wrap"></div>
</div>