

<div class="container-fluid">
    <div class="logo">
        <a href="/main"><img style="position:absolute; top:20px;width:90px; height:65px; border-radius: 16px" src="../img/TTmainLogo.png" alt=""></a>
    </div>
    <nav class="main-menu mobile-menu">
        <ul>

        </ul>
    </nav>
    <div class="header-right">
        <div class="user-access">
<!--            <a href="login.ejs">Register/</a>-->
<!--            <a href="login.ejs">Login</a>-->
<!--            <a href="contact.html">Request</a>-->
        </div>
        <a href='/plannerRegister' value="플래너 가입하기" style="font-size:smaller; font-weight: bold; color:#fff">플래너 가입하기</a>
        <a href="/login" class="pink_btn" style="border-radius: 5px">회원가입/로그인</a>

    </div>
    <div id="mobile-menu-wrap"></div>
</div>
