<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Local Directory | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style>
        table {
            width: 100%;
        }
        tr, td{
            border-color: black;
            border-style: solid;
        }

    </style>




</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <% include ./header.html %>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<div class="hero-listing set-bg" data-setbg="img/cats/bg.jpg" style="height: 100px;">
</div>
<!-- Hero Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-item">
                    <div class="blog-text">
                        <h2>새로운 장소 추가하기</h2>

                        <center>

                            <form action="/create" enctype="multipart/form-data" method="post">
                                <table>

                                <tr>
                                    <td rowspan="4">
                                        <input type="file" name="myFile" id="profile_pt" onchange="previewImage(this,'View_area')">

<!--                                        아래는 미리보기 div-->
                                        <div id='View_area' style='position:relative; width: 500px; height: 500px; color: black; border: 0px solid black; dispaly: inline; '></div>

                                    </td>
                                    <td>
                                        <br>
                                        <h5>장소 이름</h5><br>
                                        <input type="text" name="title"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <br>
                                        <h5>주소</h5><br>
                                        <input type="text" name="location"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <br>
                                        <h5>카테고리 선택</h5><br>
                                        <label><input id="쇼핑" type="radio" name="theme" value="쇼핑">&nbsp;쇼핑</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="카페" type="radio" name="theme" value="카페">&nbsp;카페</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="사진" type="radio" name="theme" value="사진">&nbsp;사진</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="음식" type="radio" name="theme" value="음식">&nbsp;음식</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="액티비티" type="radio" name="theme" value="액티비티">&nbsp;액티비티</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="유명명소" type="radio" name="theme" value="유명명소">&nbsp;유명명소</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="기타" type="radio" name="theme" value="기타">&nbsp;기타</label>&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <br>
                                        <h5>소개글</h5><br>
                                        <textarea name="text" placeholder="장소에 대한 간단한 설명을 써주세요."></textarea>
                                    </td>
                                </tr>




                        </table>
                            <br><br>
                            <input type="submit" class="primary-btn" value="업로드">
                            </center>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!--&lt;!&ndash; Footer Section Begin &ndash;&gt;-->
<!--<footer class="footer-section spad">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <form action="#" class="newslatter-form">-->
<!--                    <input type="text" placeholder="Your email address">-->
<!--                    <button type="submit">Subscribe to our Newsletter</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h4>Usefull Links</h4>-->
<!--                    <ul>-->
<!--                        <li>About us</li>-->
<!--                        <li>Testimonials</li>-->
<!--                        <li>How it works</li>-->
<!--                        <li>Create an account</li>-->
<!--                        <li>Our Services</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h4>Categories</h4>-->
<!--                    <ul>-->
<!--                        <li>Hotels</li>-->
<!--                        <li>Restaurant</li>-->
<!--                        <li>Spa & resorts</li>-->
<!--                        <li>Concert & Events</li>-->
<!--                        <li>Bars & Pubs</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h4>Usefull Links</h4>-->
<!--                    <ul>-->
<!--                        <li>About us</li>-->
<!--                        <li>Testimonials</li>-->
<!--                        <li>How it works</li>-->
<!--                        <li>Create an account</li>-->
<!--                        <li>Our Services</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="footer-widget">-->
<!--                    <h4>From the Blog</h4>-->
<!--                    <div class="single-blog">-->
<!--                        <div class="blog-pic">-->
<!--                            <img src="img/f-blog-1.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="blog-text">-->
<!--                            <h6>10 Best clubs in town</h6>-->
<!--                            <span>March 27, 2019</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-blog">-->
<!--                        <div class="blog-pic">-->
<!--                            <img src="img/f-blog-2.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="blog-text">-->
<!--                            <h6>10 Best clubs in town</h6>-->
<!--                            <span>March 27, 2019</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row footer-bottom">-->
<!--            <div class="col-lg-5 order-2 order-lg-1">-->
<!--                <div class="copyright"><p class="text-white">-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                </p></div>-->
<!--            </div>-->
<!--            <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">-->
<!--                <div class="footer-menu">-->
<!--                    <a href="#">Home</a>-->
<!--                    <a href="#">Explore</a>-->
<!--                    <a href="#">More Cities</a>-->
<!--                    <a href="#">News</a>-->
<!--                    <a href="#">Contact</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- Footer Section End -->

<script>
    function previewImage(targetObj, View_area) {
        var preview = document.getElementById(View_area); //div id
        var ua = window.navigator.userAgent;

        //ie일때(IE8 이하에서만 작동)
        if (ua.indexOf("MSIE") > -1) {
            targetObj.select();
            try {
                var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                if (ie_preview_error) {
                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                }

                var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='scale')";
            } catch (e) {
                if (!document.getElementById("ie_preview_error_" + View_area)) {
                    var info = document.createElement("<p>");
                    info.id = "ie_preview_error_" + View_area;
                    info.innerHTML = e.name;
                    preview.insertBefore(info, null);
                }
            }
            //ie가 아닐때(크롬, 사파리, FF)
        } else {
            var files = targetObj.files;
            for ( var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                if (!file.type.match(imageType))
                    continue;
                var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                if (prevImg) {
                    preview.removeChild(prevImg);
                }
                var img = document.createElement("img");
                img.id = "prev_" + View_area;
                img.classList.add("obj");
                img.file = file;
                img.style.width = '500px';
                img.style.height = '500px';
                preview.appendChild(img);
                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                    var reader = new FileReader();
                    reader.onloadend = (function(aImg) {
                        return function(e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                } else { // safari is not supported FileReader
                    //alert('not supported FileReader');
                    if (!document.getElementById("sfr_preview_error_"
                        + View_area)) {
                        var info = document.createElement("p");
                        info.id = "sfr_preview_error_" + View_area;
                        info.innerHTML = "not supported FileReader";
                        preview.insertBefore(info, null);
                    }
                }
            }
        }
    }
</script>

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>