<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-TrueTrip</title>

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="icon" href="img/favicon-32x32.png">
    <link rel="icon" href="img/favicon-32x32.png">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style>
        h5 {
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 25px;
            font-weight: 600;

        }

        table {
            border: 3px solid #CACDD6;
            width: 100%;
        }

        tr, td {
            border: 3px solid #CACDD6;


        }

        .contact-form input:focus {
            border: solid #FF5581 3px;
        }

        .contact-form .txt1 {
            border: grey solid 2px;
            font-size: 20px;
            /*font-style: italic;*/
            font-weight: 100;
            padding-left: 5px;
            color: #838383;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .contact-form textarea:focus {
            border: solid #FF5581 3px;
        }

        .contact-form textarea {
            width: 100%;
            height: 302px;
            border: grey solid 2px;
            font-size: 20px;
            color: #838383;
            font-weight: 100;
            font-style: normal;
            padding-left: 5px;
            resize: none;
            padding-top: 5px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin-bottom: 0px;
        }


    </style>
    <script>



    </script>

</head>
<body>

<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.ejs %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<div class="hero-listing set-bg" data-setbg="/img/cats/bg.jpg" style="height: 1px;">
</div>
<!-- Hero Section End -->


<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-item">
                    <div class="blog-text">
                        <h2 style="font-size: 60px">새로운 장소 추가하기</h2>


                        <form action="/create" enctype="multipart/form-data" method="post">
                            <table>
                                <tr>
                                    <td rowspan="4" width="55%">
                                        <label for="file-input">
                                            <img id="uploadicon" src="../img/icon/upload.jpg" width="170px" height="170px"
                                                 style="cursor:pointer; right: 750px;position:inherit">
                                        </label>

                                        <input id="file-input" type="file" name="myFile" style="display:none;"
                                               onchange="javascript:previewImage(this,'View_area'); document.getElementById('uploadicon').style.display='none' ">

                                        <!--                                        아래는 미리보기 div-->
                                        <div id='View_area'
                                             style='position:relative; width: 100%; height: 100%; color: black; border: 0px solid black; display: inline; '></div>
                                        <br><br>

                                    </td>
                                    <td>

                                        <div class="contact-form">
                                            <h5>장소 이름</h5>


                                            <input type="text" class="txt1" style="width: 93%" placeholder="장소의 이름을 적어주세요." name="title"/>

                                        </div>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="contact-form">
                                            <h5>주소</h5>
                                            <input type="text" class="txt1" style="width: 93%"
                                                   placeholder="상세한 주소를 적어주세요." name="location"/>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5>카테고리 선택</h5>
                                        <label><input id="쇼핑" type="radio" name="theme" value="쇼핑" checked>&nbsp;쇼핑</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="카페" type="radio" name="theme" value="카페">&nbsp;카페</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="사진" type="radio" name="theme" value="사진">&nbsp;사진</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="음식" type="radio" name="theme" value="음식">&nbsp;음식</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="액티비티" type="radio" name="theme"
                                                      value="액티비티">&nbsp;액티비티</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="유명명소" type="radio" name="theme"
                                                      value="유명명소">&nbsp;유명명소</label>&nbsp;&nbsp;&nbsp;
                                        <label><input id="기타" type="radio" name="theme" value="기타">&nbsp;기타</label>&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="contact-form">
                                            <h5>소개글</h5>
                                            <textarea name="text" style="width: 93%; height: 250px;"
                                                      placeholder="장소에 대한 간단한 설명을 써주세요."></textarea>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                            <center><br><br><input type="submit" class="primary-btn" value="업로드"></center>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>


<script>
    function previewImage(targetObj, View_area) {
        var preview = document.getElementById(View_area); //div id
        var ua = window.navigator.userAgent;

        //ie일때(IE8 이하에서만 작동)
        if (ua.indexOf("MSIE") > -1) {
            targetObj.select();
            try {
                var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                if (ie_preview_error) {
                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                }

                var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src + "', sizingMethod='scale')";
            } catch (e) {
                if (!document.getElementById("ie_preview_error_" + View_area)) {
                    var info = document.createElement("<p>");
                    info.id = "ie_preview_error_" + View_area;
                    info.innerHTML = e.name;
                    preview.insertBefore(info, null);
                }
            }
            //ie가 아닐때(크롬, 사파리, FF)
        } else {
            var files = targetObj.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                if (!file.type.match(imageType))
                    continue;
                var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                if (prevImg) {
                    preview.removeChild(prevImg);
                }
                var img = document.createElement("img");
                img.id = "prev_" + View_area;
                img.classList.add("obj");
                img.file = file;
                img.style.width = '95%';      // 프리뷰 이미지 사이즈
                img.style.height = '100%';
                preview.appendChild(img);
                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                    var reader = new FileReader();
                    reader.onloadend = (function (aImg) {
                        return function (e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                } else { // safari is not supported FileReader
                    //alert('not supported FileReader');
                    if (!document.getElementById("sfr_preview_error_"
                        + View_area)) {
                        var info = document.createElement("p");
                        info.id = "sfr_preview_error_" + View_area;
                        info.innerHTML = "not supported FileReader";
                        preview.insertBefore(info, null);
                    }
                }
            }
        }
    }
</script>
</html>
