<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-TrueTrip</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="icon" href="img/favicon-32x32.png">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <script>

        $(document).ready(function () {


            $('#mainbtn').click(function () {
                console.log("main button clicked!")
                var loc = $('#lo-search option:selected').val()
                console.log("selected location")
                console.log(loc)
                var cat = $('#ca-search option:selected').val()
                console.log("selected theme")
                console.log(cat)

                var posting = $.post('/frommain', {'location': loc, 'category': cat})


                posting.done(function (data) {

                    if (data == '1') {location.href = 'plannerlist';}
                })
            })

        })


    </script>

    <style>

        .lo-search .current, .ca-search .current{
            color:#787878;
            font-size: smaller;
        }
        .pink_btn{
            color: #fff;
            background: #FF5581;
            font-size: smaller;
            /*position: absolute;*/
            right: 38px;
            top: 41px;
            margin-left: 20px;
            padding: 13px 65px;
            /*cursor: pointer;*/
            border: 1px solid #FF5581;
            padding-right: 30px; !important;
            padding-left: 30px; !important;
            border-radius: 5px;
            font-weight: bold;
        }
        #mainbtn{
            color: #fff;
            background: #FF5581;
            font-size: smaller;
            /*position: absolute;*/
            right: 38px;
            top: 41px;
            margin-left: 170px;
            padding: 13px 65px;
            /*cursor: pointer;*/
            border: 1px solid #FF5581;
            padding-right: 30px; !important;
            padding-left: 30px; !important;
            border-radius: 5px;
            font-weight: bold;
        }
        .select_h5{
            font-size:smaller;!important;
        }
        .select_h5_{
            font-size:smaller;!important;
        }

    </style>


</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->

<!--header-->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.html %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="img/blog/일괄편집_방화수류정1.jpg" style="height:1000px; padding-top:188px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="width:1000px; right:50px; max-width: 100%">
                <div class="hero-text">


                    <div class="filter-search" style="border-radius: 5px; width: 444px; height:500px; background-color: #FFF; opacity: 1;">
<!--                        <h1 style="font-size:3rem;position:absolute; font-weight:900 ;margin-left:850px; width:800px">TT</h1>-->
                        <h1 class='animated flipInX delay-1s' style="font-size:120px;animation-duration:2s;margin-left:640px; margin-top:10px;font-weight: 900; position:absolute">TrueTrip</h1>
                        <h1 class='animated flipInX delay-2s'style="width:300px;margin-left:777px; font-size: 1.4rem;margin-top:170px;font-weight:400; position:absolute">For your true travel</h1>
                        <div class="location-search" style="width: 100%; padding-bottom: 30px">
                            <img src="img/placeholder.png" alt="" style="padding-top: 10px;">
                            <h4 style="color:#787878; padding-top: 15px; padding-bottom: 40px">편안한 여행을 위한 계획을 요청해보세요.</h4>

                            <h5 class='select_h5' style="color:#787878">목적지</h5>

                            <select id="lo-search" class="lo-search" >
                                <option selected>모든지역</option>
                                <option>인계동</option>
                                <option>행궁동</option>
                                <option>영통동</option>
                                <option>우만동</option>
                                <option>매탄동</option>
                            </select>
                        </div>
                        <div class="category-search" style="width: 100%">
                            <h5 class='select_h5_' style="color:#787878">테마</h5>
                            <select id="ca-search" class="ca-search">
                                <option selected>모든카테고리</option>
                                <option>쇼핑</option>
                                <option>카페</option>
                                <option>사진</option>
                                <option>음식</option>
                                <option>액티비티</option>
                                <option>유명명소</option>
                                <option>기타</option>
                            </select>
                        </div>


                        <button class="pink_btn" id="mainbtn" type="button" style="margint-left: 140px !important;position: relative">검색
                        </button>
                        <!--                        <button id="mainbtn" type="button">Search Now</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!--    &lt;!&ndash; Trending Restaurant Section Begin &ndash;&gt;-->
<!--    <section class="trending-restaurant spad">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="section-title">-->
<!--                        <h2>Top trending for your city</h2>-->
<!--                        <p>Explore some of the best places in the world</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="trend-item">-->
<!--                        <div class="trend-pic">-->
<!--                            <img src="img/trending/trending-1.jpg" alt="">-->
<!--                            <div class="rating">4.9</div>-->
<!--                        </div>-->
<!--                        <div class="trend-text">-->
<!--                            <h4>New Place Restaurant</h4>-->
<!--                            <span>Main Road , No 25/11</span>-->
<!--                            <p>Fusce urna quam, euismod sit amet mollis quis.</p>-->
<!--                            <div class="closed">Closed Now</div>-->
<!--                            <div class="open">Opens Tomorow at 10am</div>-->
<!--                        </div>-->
<!--                        <div class="tic-text">Restaurants</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="trend-item nightlife">-->
<!--                        <div class="trend-pic">-->
<!--                            <img src="img/trending/trending-2.jpg" alt="">-->
<!--                            <div class="rating">4.9</div>-->
<!--                        </div>-->
<!--                        <div class="trend-text">-->
<!--                            <h4>Palace Club</h4>-->
<!--                            <span>Parker Street, No 234/40</span>-->
<!--                            <p>Fusce urna quam, euismod sit amet mollis quis.</p>-->
<!--                            <div class="open">Open Until 3am</div>-->
<!--                        </div>-->
<!--                        <div class="tic-text">Nightlife</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="trend-item hotels">-->
<!--                        <div class="trend-pic">-->
<!--                            <img src="img/trending/trending-3.jpg" alt="">-->
<!--                            <div class="rating">4.6</div>-->
<!--                        </div>-->
<!--                        <div class="trend-text">-->
<!--                            <h4>Grand Hotel</h4>-->
<!--                            <span>Main Road , No 25/11</span>-->
<!--                            <p>Morbi id dictum quam, ut commodo lorem.</p>-->
<!--                            <div class="closed">Closed Now</div>-->
<!--                            <div class="open">Opens Tomorow at 10am</div>-->
<!--                        </div>-->
<!--                        <div class="tic-text">Hotels</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="trend-item events">-->
<!--                        <div class="trend-pic">-->
<!--                            <img src="img/trending/trending-4.jpg" alt="">-->
<!--                            <div class="rating">5.0</div>-->
<!--                        </div>-->
<!--                        <div class="trend-text">-->
<!--                            <h4>Opera Concert</h4>-->
<!--                            <span>Parker Street, No 234/40</span>-->
<!--                            <p>Aliquam erat volutpat. Morbi id dictum.</p>-->
<!--                            <div class="open">Open Until 3am</div>-->
<!--                        </div>-->
<!--                        <div class="tic-text">Events</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; Trending Restaurant Section End &ndash;&gt;-->

<!--&lt;!&ndash; Categories Section Begin &ndash;&gt;-->
<!--<section style="padding-top: 100px;" class="categories-section spad">-->
<!--    <div class="container-fluid">-->
<!--        <div class="categories-left">-->
<!--            <div class="categories-item set-bg large-img" data-setbg="img/categories/cat-1.jpg">-->
<!--                <a href="img/categories/cat-1.jpg" class="img-hover pop-up"><img src="img/zoom.png" alt=""></a>-->
<!--                <div class="categories-text">-->
<!--                    <h4>Restaurants</h4>-->
<!--                    <p>2373 Listings</p>-->
<!--                    <a href="#">View All</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="categories-right">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="categories-item set-bg" data-setbg="img/categories/cat-2.jpg">-->
<!--                        <a href="img/categories/cat-2.jpg" class="img-hover pop-up"><img src="img/zoom.png" alt=""></a>-->
<!--                        <div class="categories-text">-->
<!--                            <h4>Nightlife & Clubs</h4>-->
<!--                            <p>2373 Listings</p>-->
<!--                            <a href="#">View All</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="categories-item set-bg" data-setbg="img/categories/cat-3.jpg">-->
<!--                        <a href="img/categories/cat-3.jpg" class="img-hover pop-up"><img src="img/zoom.png" alt=""></a>-->
<!--                        <div class="categories-text">-->
<!--                            <h4>Spa & Resorts</h4>-->
<!--                            <p>2373 Listings</p>-->
<!--                            <a href="#">View All</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="categories-item set-bg" data-setbg="img/categories/cat-4.jpg">-->
<!--                        <a href="img/categories/cat-4.jpg" class="img-hover pop-up"><img src="img/zoom.png" alt=""></a>-->
<!--                        <div class="categories-text">-->
<!--                            <h4>Hotels</h4>-->
<!--                            <p>2373 Listings</p>-->
<!--                            <a href="#">View All</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <div class="categories-item set-bg" data-setbg="img/categories/cat-5.jpg">-->
<!--                        <a href="img/categories/cat-5.jpg" class="img-hover pop-up"><img src="img/zoom.png" alt=""></a>-->
<!--                        <div class="categories-text">-->
<!--                            <h4>Clubs & Pubs</h4>-->
<!--                            <p>2373 Listings</p>-->
<!--                            <a href="#">View All</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Categories Section End &ndash;&gt;-->

<!--&lt;!&ndash; Testimonial Section Begin &ndash;&gt;-->
<!--<section class="testimonial-section">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-10 offset-lg-1">-->
<!--                <div class="testimonial-item owl-carousel">-->
<!--                    <div class="single-testimonial-item">-->
<!--                        <img src="img/testimonial-1.png" alt="">-->
<!--                        <p>Fusce urna quam, euismod sit amet mollis quis. Fusce urna quam, euismod sit amet mollis-->
<!--                            quis, vestibulum quis velit. Vestibulum malesuada aliquet libero viverra cursus. Aliquam-->
<!--                            erat volutpat. Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor-->
<!--                            aliquet vitae at dui. Sed sollicitudin nulla non leo viverra.</p>-->
<!--                        <h4>Michael Smith</h4>-->
<!--                        <span>CEO Company</span>-->
<!--                    </div>-->
<!--                    <div class="single-testimonial-item">-->
<!--                        <img src="img/testimonial-1.png" alt="">-->
<!--                        <p>Fusce urna quam, euismod sit amet mollis quis. Fusce urna quam, euismod sit amet mollis-->
<!--                            quis, vestibulum quis velit. Vestibulum malesuada aliquet libero viverra cursus. Aliquam-->
<!--                            erat volutpat. Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor-->
<!--                            aliquet vitae at dui. Sed sollicitudin nulla non leo viverra.</p>-->
<!--                        <h4>Michael Smith</h4>-->
<!--                        <span>CEO Company</span>-->
<!--                    </div>-->
<!--                    <div class="single-testimonial-item">-->
<!--                        <img src="img/testimonial-1.png" alt="">-->
<!--                        <p>Fusce urna quam, euismod sit amet mollis quis. Fusce urna quam, euismod sit amet mollis-->
<!--                            quis, vestibulum quis velit. Vestibulum malesuada aliquet libero viverra cursus. Aliquam-->
<!--                            erat volutpat. Morbi id dictum quam, ut commodo lorem. In at nisi nec arcu porttitor-->
<!--                            aliquet vitae at dui. Sed sollicitudin nulla non leo viverra.</p>-->
<!--                        <h4>Michael Smith</h4>-->
<!--                        <span>CEO Company</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container-fluid">-->
<!--        <div class="bg-img">-->
<!--            <img src="img/testimonial-bg.png" alt="">-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Testimonial Section End &ndash;&gt;-->

<!--&lt;!&ndash; How It Works Section Begin &ndash;&gt;-->
<!--<section class="work-section set-bg" data-setbg="img/line-bg.jpg">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="section-title">-->
<!--                    <h2>How it works</h2>-->
<!--                    <p>Explore some of the best places in the world</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4">-->
<!--                <div class="single-work-item">-->
<!--                    <div class="number">01.</div>-->
<!--                    <div class="work-text">-->
<!--                        <h4>Search the portal</h4>-->
<!--                        <p>Fusce urna quam, euismod sit amet mollis quis.Aliquam erat volutpat. Morbi id dictum quam,-->
<!--                            ut.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="single-work-item">-->
<!--                    <div class="number">02.</div>-->
<!--                    <div class="work-text">-->
<!--                        <h4>Choose the one 4u</h4>-->
<!--                        <p>Euismod sit amet mollis quis. Ali-quam erat volutpat. Morbi id dictum quam, ut commodo-->
<!--                            lorem. </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="single-work-item">-->
<!--                    <div class="number">03.</div>-->
<!--                    <div class="work-text">-->
<!--                        <h4>Book it!</h4>-->
<!--                        <p>Euismod sit amet mollis quis. Ali-quam erat volutpat. Morbi id dictum quam, ut commodo-->
<!--                            lorem. </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; How It Works Section End &ndash;&gt;-->

<!--&lt;!&ndash; App Section Begin &ndash;&gt;-->
<!--<section class="app-section spad">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-5">-->
<!--                <img src="img/phone.png" alt="">-->
<!--            </div>-->
<!--            <div class="col-lg-6 offset-lg-1">-->
<!--                <div class="app-text">-->
<!--                    <div class="section-title">-->
<!--                        <h2>Get the App now!</h2>-->
<!--                        <p>Explore some of the best places in the world</p>-->
<!--                    </div>-->
<!--                    <p>Morbi id dictum quam, ut commodo lorem. Donec bibendum, enim ut luctus dictum, nisl turpis-->
<!--                        scelerisque sem, in dapibus neque odio eu sapien. Morbi ac aliquet erat. Sed dapibus, augue-->
<!--                        et malesuada maximus.</p>-->
<!--                    <ul>-->
<!--                        <li><img src="img/check-icon.png" alt="">Fusce urna quam, euismod sit amet mollis quis,-->
<!--                            vestibulum-->
<!--                            quis veli-->
<!--                        </li>-->
<!--                        <li><img src="img/check-icon.png" alt="">Vestibulum malesuada aliquet libero viverra cursus</li>-->
<!--                        <li><img src="img/check-icon.png" alt="">Urna quam, euismod sit amet mollis quis, vestibulum-->
<!--                            quis veli-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <a href="#"><img src="img/apple-store.jpg" alt=""></a>-->
<!--                    <a href="#"><img src="img/google-store.jpg" alt=""></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; App Section End &ndash;&gt;-->


<!-- Footer Section Begin -->
<footer class="footer-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="newslatter-form">
                    <input type="text" placeholder="Your email address">
                    <button type="submit">Subscribe to our Newsletter</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li>About us</li>
                        <li>Testimonials</li>
                        <li>How it works</li>
                        <li>Create an account</li>
                        <li>Our Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Categories</h4>
                    <ul>
                        <li>Hotels</li>
                        <li>Restaurant</li>
                        <li>Spa & resorts</li>
                        <li>Concert & Events</li>
                        <li>Bars & Pubs</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li>About us</li>
                        <li>Testimonials</li>
                        <li>How it works</li>
                        <li>Create an account</li>
                        <li>Our Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>From the Blog</h4>
                    <div class="single-blog">
                        <div class="blog-pic">
                            <img src="img/f-blog-1.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <h6>10 Best clubs in town</h6>
                            <span>March 27, 2019</span>
                        </div>
                    </div>
                    <div class="single-blog">
                        <div class="blog-pic">
                            <img src="img/f-blog-2.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <h6>10 Best clubs in town</h6>
                            <span>March 27, 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="copyright">
                    <p class="text-white">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
            <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">
                <div class="footer-menu">
                    <a href="#">Home</a>
                    <a href="#">Explore</a>
                    <a href="#">More Cities</a>
                    <a href="#">News</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>