<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-lists</title>

<!--    &lt;!&ndash; Google Font &ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">-->

<!--    &lt;!&ndash; Css Styles &ndash;&gt;-->
<!--    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/flaticon.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/nice-select.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/style.css" type="text/css">-->
    <% include head_link.html%>
    <link rel="icon" href="img/favicon-32x32.png">

    <style>
        .postpic {
            height: 250px;
            max-width: 100%;
            width: auto;
        }

        .postpic:hover {
            border: 2px;
            solid: blue;
            border-radius: 100px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <script>
        var content;
        var contentString = "";
        var stringArr = new Array();

        var pagenum = 0;
        $(document).ready(function () {

            var theme = $(":input:radio[name=the]:checked").val();
            var posting = $.post('/showtheme', {'theme': theme})

            posting.done(function (data) {
                content = data.data
                for (var i = 0; i < content.length; i++) {
                    contentString +=
                        "<div class=\"col-lg-4 col-sm-6\" >" +
                        "                            <a class=\"arrange-items\" href=\"single-listing.ejs\">" +
                        "                            <div class=\"arrange-pic\">" +
                        "                            <img src=\'" + content[i].path + "' style='width:264px; height:270px' alt=\"\">" +
                        "                            <div class=\"rating\">4.9</div>" +
                        "                            <div class=\"tic-text\">" + content[i].author + "</div>" +
                        "                            </div>" +
                        "                            <div class=\"arrange-text\">" +
                        "                            <h5>" + content[i].title + "</h5>" +
                        "                        <span>" + content[i].location + "</span>" +
                        "                        <p>Fusce urna quam, euismod sit</p>" +
                        "                        <div class=\"open tomorrow\">Opens Tomorow at 10am</div>" +
                        "                        </div>" +
                        "                       </a>" +
                        "                     </div>"
                    if ((i > 0 && i % 8 == 0) || i == content.length - 1) {
                        stringArr[pagenum] = contentString;
                        console.log(i);
                        pagenum++;
                        contentString = ""
                    }
                }
                $('#showhere').html(stringArr[0]);
            });


            $('input[name="the"]').click(function () {
                contentString = "";
                stringArr = [0,];
                pagenum = 0;
                var theme = $(":input:radio[name=the]:checked").val();

                var posting = $.post('/showtheme', {'theme': theme})
                posting.done(function (data) {
                    content = data.data
                    console.log(data)

                    for (var i = 0; i < content.length; i++) {
                        contentString +=
                            "<div class=\"col-lg-4 col-sm-6\" >" +
                            "                            <a class=\"arrange-items\" href=\"single-listing.ejs\">" +
                            "                            <div class=\"arrange-pic\">" +
                            "                            <img src=\'" + content[i].path + "' style='width:264px; height:270px;' alt=\"\">" +
                            "                            <div class=\"rating\">4.9</div>" +
                            "                            <div class=\"tic-text\">" + content[i].author + "</div>" +
                            "                            </div>" +
                            "                            <div class=\"arrange-text\">" +
                            "                            <h5 >" + content[i].title + "</h5>" +
                            "                        <span>" + content[i].location + "</span>" +

                            "                        <div class=\"open tomorrow\">Opens Tomorow at 10am</div>" +
                            "                        </div>" +
                            "                       </a>" +
                            "                     </div>"
                        if ((i > 0 && i % 8 == 0) || i == content.length - 1) {
                            stringArr[pagenum] = contentString;
                            pagenum++;
                            contentString = ""
                        }
                    }
                    console.log(stringArr[0])
                    $('#showhere').html(stringArr[0]);
                });
            });

            $('.pagination-num a').click(function () {
                var pagenum_ = parseInt($(this).text());
                $('#showhere').html(stringArr[pagenum_ - 1]);
            });
        });

    </script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.ejs %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>
<!-- Header End -->

<!-- Map Section Begin -->
<div class="map">
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26440.72384129847!2d-118.24906619231132!3d34.06719475913053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c659f50c318d%3A0xe2ffb80a9d3820ae!2sChinatown%2C%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1570213740685!5m2!1sen!2sbd"
            height="657" style="border:0;" allowfullscreen="">
    </iframe>
    <img src="img/pin.png" alt="">
</div>
<!-- Map Section End -->

<!-- Search Filter Section Begin -->
<section class="search-filter spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="filter-search">
                    <div class="category-search">
                        <h5>Search Category</h5>
                        <select class="ca-search">
                            <option>Restaurants</option>
                            <option>Hotels</option>
                            <option>Food & Drinks</option>
                            <option>Home Delievery</option>
                            <option>Commercial Shops</option>
                        </select>
                    </div>
                    <div class="location-search">
                        <h5>Your Location</h5>
                        <select class="lo-search">
                            <option>New York</option>
                        </select>
                    </div>
                    <button type="submit">Search Now</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Search Filter Section End -->

<!-- Filter Section Begin -->
<section class="filter-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="filter-left">


                    <div class="category-filter">
                        <h3>Category Filter</h3>
                        <div class="category-option">
                            <form id="themeForm" action="/showtheme" method="post">
                                <div class="co-item">
                                    <label class="active"><input type="radio" name="the" value="모두" checked>모두</label>
                                </div>
                                <div class="co-item">
                                    <label> <input type="radio" name="the" value="음식">음식</label>
                                </div>
                                <div class="co-item">
                                    <label><input type="radio" name="the" value="카페">카페</label>
                                </div>
                                <div class="co-item">
                                    <label><input type="radio" name="the" value="쇼핑">쇼핑</label>
                                </div>
                                <div class="co-item">
                                    <label><input type="radio" name="the" value="사진">사진</label>
                                </div>
                                <div class="co-item">
                                    <label><input type="radio" name="the" value="액티비티">액티비티</label>
                                </div>
                                <div class="co-item">
                                    <label><input type="radio" name="the" value="유명명소">유명명소</label>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="rating-filter">
                        <h3>Ratings</h3>
                        <div class="rating-option">
                            <div class="ro-item">
                                <input type="radio">
                                <label class="active">5.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>4.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>3.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>2.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>1.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="distance-filter">
                        <h3>Distance</h3>
                        <div class="distance-option">
                            <div class="do-item">
                                <input type="radio">
                                <label class="active">0.0-0.3km</label>
                            </div>
                            <div class="do-item">
                                <input type="radio">
                                <label>0.3-0.6km</label>
                            </div>
                            <div class="do-item">
                                <input type="radio">
                                <label>0.6-0.9km</label>
                            </div>
                            <div class="do-item">
                                <input type="radio">
                                <label>1.0-3.0km</label>
                            </div>
                            <div class="do-item">
                                <input type="radio">
                                <label>3.0-10.0km</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#" class="arrange-select">
                            <span>Arrange by</span>
                            <select>
                                <option>Newest</option>
                                <option>Oldest</option>
                            </select>
                        </form>
                    </div>

                    <!--                    start listing-->
                    <div class="row" id="showhere">
                    </div>

                    <!--                    finish listing-->

                    <div class="col-lg-12 text-right">
                        <div class="pagination-num">
                            <a href="javascript:void (0)" value="1" id="check">01</a>
                            <a href="javascript:void (0)" value="2">02</a>
                            <a href="javascript:void (0)" value="3">03</a>
                            <a href="javascript:void (0)" value="4">04</a>
                            <a href="javascript:void (0)" value="5">05</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Section End -->

<!-- App Section Begin -->
<section class="app-section spad listings">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="img/phone.png" alt="">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="app-text">
                    <div class="section-title">
                        <h2>Get the App now!</h2>
                        <p>Explore some of the best places in the world</p>
                    </div>
                    <p>Morbi id dictum quam, ut commodo lorem. Donec bibendum, enim ut luctus dictum, nisl turpis
                        scelerisque sem, in dapibus neque odio eu sapien. Morbi ac aliquet erat. Sed dapibus, augue et
                        malesuada maximus.</p>
                    <ul>
                        <li><i class="fa fa-check"></i>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis
                            veli
                        </li>
                        <li><i class="fa fa-check"></i>Vestibulum malesuada aliquet libero viverra cursus</li>
                        <li><i class="fa fa-check"></i>Urna quam, euismod sit amet mollis quis, vestibulum quis veli
                        </li>
                    </ul>
                    <a href="#"><img src="img/apple-store.jpg" alt=""></a>
                    <a href="#"><img src="img/google-store.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- App Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="newslatter-form">
                    <input type="text" placeholder="Your email address">
                    <button type="submit">Subscribe to our Newsletter</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li>About us</li>
                        <li>Testimonials</li>
                        <li>How it works</li>
                        <li>Create an account</li>
                        <li>Our Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Categories</h4>
                    <ul>
                        <li>Hotels</li>
                        <li>Restaurant</li>
                        <li>Spa & resorts</li>
                        <li>Concert & Events</li>
                        <li>Bars & Pubs</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>Usefull Links</h4>
                    <ul>
                        <li>About us</li>
                        <li>Testimonials</li>
                        <li>How it works</li>
                        <li>Create an account</li>
                        <li>Our Services</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h4>From the Blog</h4>
                    <div class="single-blog">
                        <div class="blog-pic">
                            <img src="img/f-blog-1.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <h6>10 Best clubs in town</h6>
                            <span>March 27, 2019</span>
                        </div>
                    </div>
                    <div class="single-blog">
                        <div class="blog-pic">
                            <img src="img/f-blog-2.jpg" alt="">
                        </div>
                        <div class="blog-text">
                            <h6>10 Best clubs in town</h6>
                            <span>March 27, 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="copyright">
                    <p class="text-white">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
                        by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
            <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">
                <div class="footer-menu">
                    <a href="#">Home</a>
                    <a href="#">Explore</a>
                    <a href="#">More Cities</a>
                    <a href="#">News</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>