<!DOCTYPE html>
<html lang="zxx" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Register</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<style>
    .login-form{text-align: center;}
</style>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html"><img style="width:180px; height:65px" src="img/yeah.png" alt=""></a>
        </div>
        <nav class="main-menu mobile-menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="how-it-works.html">Explore</a></li>
                <li><a href="listings.html">More Cities</a></li>
                <li class="active"><a href="blog.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="header-right">
            <div class="user-access">
                <a href="login.html">Register/</a>
                <a href="login.html">Login</a>
            </div>
            <a href="#" class="primary-btn">Add Listing</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->



<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-item">

                    <div class="blog-text">
                        <h2>TT - True Trip</h2>
                        <form class="login-form" method="post" action="/login">
                            <table>
                                <tr>
                                    <td><label>ID : </label></td>
                                    <td><input type="text" name="id"></td>
                                </tr>
                                <tr>
                                    <td><label>Password : </label></td>
                                    <td><input type="password" name="pw"></td>
                                </tr>
                                <tr>
                                    <td><input class="primary-btn" type="submit" value="Login" name=""></td>
                                </tr>
                            </table>
                        </form>
                        <form class="login-form" method="post" action="/select">
                            <table>
                                <tr>
                                    <td><input class="primary-btn" type="submit" value="Register"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->


<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>