<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-TrueTrip</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
    <link rel="icon" href="img/favicon-32x32.png">

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>


    <style>
        * {
            box-sizing: border-box;
        }

        /*슬라이더 전체 크기*/
        .slider {
            width: 95%;
            margin: 10px auto;
            /*background: yellow;*/
        }

        /*chg. 각 슬라이드의 사이 간격*/
        .slick-slide {
            margin: 0px 4px;

        }

        /*슬라이드의 이미지 크기*/
        .slick-slide img {
            width: 100%;
            height: 100%;
        }

        /*화살표 색*/
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }

        .filter-left .location-filter {
            margin-bottom: 60px;
        }

        .filter-left .location-filter h3 {
            color: #242424;
            font-weight: 700;
            margin-bottom: 32px;
        }

        .filter-left .location-filter .location-option .lo-item input {
            visibility: hidden;
            position: absolute;
        }

        .filter-left .location-filter .location-option .lo-item label {
            color: #787878;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.2px;
            padding-left: 28px;
            position: relative;
            cursor: pointer;
        }

        .filter-left .location-filter .location-option .lo-item label.active:after {
            background: #FF5581;
            border-color: #FF5581;
        }

        .filter-left .location-filter .location-option .lo-item label:after {
            position: absolute;
            left: 0;
            top: 9px;
            width: 16px;
            height: 16px;
            border: 1px solid #CCCCCC;
            content: "";
        }

        .planners {
            width: 100%;
            height: 100%;
            min-height: 600px;
            /*background: blue;*/
            postion: absolute;
        }

        .planners .planner {
            width: 100%;
            height: 210px;
            /*background: grey;*/
            position: relative;
            margin-top: 70px;
            margin-bottom: 70px;

        }

        .planners .planner .profile {
            width: 20%;
            height: 80%;
            /*background: red;*/
            border: solid black 1px;
            float: left;
            margin-left: 3px;
            margin-right: 3px;
            margin-top: 15px;
            margin-bottom: auto;
            text-align: center;
        }

        .planners .planner .profile .profile_desc {
            height: 15%;
            width: 100%;
            /*background: yellow;*/
        }

        .planners .planner .profile .profile_img {
            height: 85%;
            width: 100%;
            /*background: blue;*/

        }

        .planners .planner .profile .profile_img img {
            height: 100%;
            width: 100%;
        }

        .planners .planner .desc {
            width: 79%;
            height: 100%;
            margin: auto;
            /*background: green;*/
            float: right;

        }

    </style>


    <script>
        var contentString=""


        //fill body content
        function fillcontent(imagedata, idData){
            contentString=""

            for (var i = 0; i < idData.length; i++) {
                if (imagedata[i].length == 0) {
                    continue;
                }
                //fill the profile
                contentString +=
                    "                        <div class=\"planner\" >\n" +
                    "                            <div class=\"profile\" style=\"border:1px solid #CACDD6; \">\n" +
                    "\n" +
                    "                                <div class=\"profile_desc\" style=\"border:1px solid #CACDD6; \" >\n" +
                    "                                    <span>별점</span>\n" +
                    "                                    <span>" + idData[i].id + "</span>\n" +
                    "\n" +
                    "                                </div>\n" +
                    "                                <div class=\"profile_img\">\n" +
                    "                                    <img  src=\"img/profile1.jpg\">\n" +
                    "                                </div>\n" +
                    "                            </div>\n" +
                    "\n" +
                    "                            <div class=\"desc\">\n" +
                    "                                <div class=\"autoplay slider\">\n"
                for (var j = 0; j < imagedata[i].length; j++) {

                    contentString +=
                        "                                    <div>" +
                        "                                        <img style='width:180px; height: 180px' src='" + imagedata[i][j].path + "'>" +
                        "                                    </div>"
                }
                contentString +=
                    "                                </div>\n" +
                    "                            </div>\n" +
                    "                        </div>"
            }
            console.log("in contentString please")
            $("#please").html(contentString);

        }//end of fill content


        function changefilter(location, category){
            $(".filter-left .location-filter .location-option .lo-item label").removeClass('active');
            $(".filter-left .category-filter .category-option .co-item label").removeClass('active');
            $('#' + location).addClass('active')
            $('#' + category).addClass('active')

        }

        jQuery(document).ready(function ($) {
            var imagepath;
            var location;
            var category;
            var idData;
            var path;


            //for slider
            function start_slick() {
                $(".regular").slick({
                    dots: false,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3,

                });

                $('.autoplay').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    pauseOnHover: true,

                });
            }

            // 딜레이 7후에 start_slick 실행.
            window.setTimeout(start_slick, 500);

            //post request for planner and image data
            var posting = $.post('/showplanner', {})
            //post done, get data
            posting.done(function (data) {
                imagepath = data.data//get image path
                idData = data.Iddata// get selected ID data
                category = data.category//get selected category data
                location = data.location//get selected location data

                //fill body section with data
                fillcontent(imagepath, idData)

                //set the filter section as selected data
                changefilter(location, category)

            })

            //when location filter and category filter is selected
            $('input[name="the"], input[name="thec"]').click(function () {

                //get the id of selected filter __location and category
                var loc = $(".filter-left .location-filter .location-option .lo-item .active").attr('id')
                var cat = $(".filter-left .category-filter .category-option .co-item .active").attr('id')
                console.log(loc)
                console.log(cat)

                //plannerlist page에서 maybe frommain will work
                var posting_filter = $.post('/frommain', {'location':loc, 'category': cat})

                posting_filter.done(function(data){
                    console.log(data)
                    if(data=='1'){
                        //time 설정 needed
                        window.setTimeout(start_slick, 300);
                        var posting_filter_start=$.post('/showplanner', {})

                        posting_filter_start.done(function(data){
                            imagepath = data.data//get image path
                            idData = data.Iddata// get selected ID data
                            category = data.category//get selected category data
                            location = data.location//get selected location data

                            console.log(imagepath)

                            //fill body section with data
                            fillcontent(imagepath, idData)

                        })
                    }

                })
            })
        })
    </script>

</head>

<!--header-->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.html %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<div class="hero-listing set-bg" data-setbg="img/cats/bg.jpg" style="height: 200px;">
</div>


<!-- Header End -->


<!-- Filter Section Begin -->
<section class="filter-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="filter-left">


                    <!--                    플래너 지역 카테고리. -->
                    <!--                    chg. action? 바꿔야하는데-->
                    <!--                    chg. 지역 필터랑 카테고리 필터가 하나로 인식됨. 위아래 통틀어 한개만 선택가능-->
                    <!--                    위치카테고리용 class="lo-item"은 co-item과 같게 정의해야함.-->

                    <div class="location-filter">
                        <h3>지역 필터</h3>
                        <div class="location-option">

                            <div class="lo-item">
                                <label id="모든지역" class="active"><input type="radio" name="the" value="모든지역">전체</label>
                            </div>
                            <div class="lo-item">
                                <label id="인계동"> <input type="radio" name="the" value="인계동">인계동</label>
                            </div>
                            <div class="lo-item">
                                <label id="행궁동"><input type="radio" name="the" value="행궁동">행궁동</label>
                            </div>
                            <div class="lo-item">
                                <label id="영통동"><input type="radio" name="the" value="영통동">영통동</label>
                            </div>
                            <div class="lo-item">
                                <label id="우만동"><input type="radio" name="the" value="우만동">우만동</label>
                            </div>
                            <div class="lo-item">
                                <label id="매탄동"><input type="radio" name="the" value="매탄동">매탄동</label>
                            </div>
                        </div>
                    </div>


                    <div class="category-filter">
                        <h3>카테고리 필터</h3>
                        <div class="category-option">
                            <div class="co-item">
                                <label class="active" id="모든카테고리"><input type="radio" name="thec"
                                                                         value="모든카테고리">전체</label>
                            </div>
                            <div class="co-item">
                                <label id="쇼핑"> <input type="radio" name="thec" value="쇼핑">쇼핑</label>
                            </div>
                            <div class="co-item">
                                <label id="카페"><input type="radio" name="thec" value="카페">카페</label>
                            </div>
                            <div class="co-item">
                                <label id="사진"><input type="radio" name="thec" value="사진">사진</label>
                            </div>
                            <div class="co-item">
                                <label id="음식"><input type="radio" name="thec" value="음식">음식</label>
                            </div>
                            <div class="co-item">
                                <label id="액티비티"><input type="radio" name="thec" value="액티비티">액티비티</label>
                            </div>
                            <div class="co-item">
                                <label id="유명명소"><input type="radio" name="thec" value="유명명소">유명명소</label>
                            </div>
                            <div class="co-item">
                                <label id="기타"><input type="radio" name="thec" value="기타">기타</label>
                            </div>

                        </div>
                    </div>


                    <div class="rating-filter">
                        <h3>Ratings</h3>
                        <div class="rating-option">
                            <div class="ro-item">
                                <input type="radio">
                                <label class="active">5.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>4.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>3.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>2.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                            <div class="ro-item">
                                <input type="radio">
                                <label>1.0</label>
                                <div class="rating-pic">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                    <i class="fa fa-star grey-bg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="distance-filter">-->
                    <!--                        <h3>Distance</h3>-->
                    <!--                        <div class="distance-option">-->
                    <!--                            <div class="do-item">-->
                    <!--                                <input type="radio">-->
                    <!--                                <label class="active">0.0-0.3km</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="do-item">-->
                    <!--                                <input type="radio">-->
                    <!--                                <label>0.3-0.6km</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="do-item">-->
                    <!--                                <input type="radio">-->
                    <!--                                <label>0.6-0.9km</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="do-item">-->
                    <!--                                <input type="radio">-->
                    <!--                                <label>1.0-3.0km</label>-->
                    <!--                            </div>-->
                    <!--                            <div class="do-item">-->
                    <!--                                <input type="radio">-->
                    <!--                                <label>3.0-10.0km</label>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row" id="parent">
                    <!--                    <div class="col-lg-12">-->
                    <!--                        <form action="#" class="arrange-select">-->
                    <!--                            <span>Arrange by</span>-->
                    <!--                            <select>-->
                    <!--                                <option>Newest</option>-->
                    <!--                                <option>Oldest</option>-->
                    <!--                            </select>-->
                    <!--                        </form>-->
                    <!--                    </div>-->


                    <div id="please" class="planners">
                        <h2>나에게 맞는 플래너 찾기</h2>
                        <hr>


                        <!--                        <div class="planner">-->
                        <!--                            <div class="profile">-->

                        <!--                                <div class="profile_desc">-->
                        <!--                                    <span>별점</span>-->
                        <!--                                    <span>플래너이름</span>-->

                        <!--                                </div>-->
                        <!--                                <div class="profile_img">-->
                        <!--                                    <img src="img/cats/profile.jpg">-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                            <div class="desc">-->
                        <!--                                <div class="regular slider">-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat2.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat3.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat4.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat2.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat.jpg">-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!--                        <div class="planner">-->
                        <!--                            <div class="profile">-->

                        <!--                                <div class="profile_desc">-->
                        <!--                                    <span>별점</span>-->
                        <!--                                    <span>플래너이름</span>-->

                        <!--                                </div>-->
                        <!--                                <div class="profile_img">-->
                        <!--                                    <img src="img/cats/profile.jpg">-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                            <div class="desc">-->
                        <!--                                <div class="autoplay slider">-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat2.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat3.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat4.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat2.jpg">-->
                        <!--                                    </div>-->
                        <!--                                    <div>-->
                        <!--                                        <img src="img/cats/cat.jpg">-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                    </div>

                    <div class="col-lg-12 text-right">
                        <div class="pagination-num">
                            <a href="#">01</a>
                            <a href="#">02</a>
                            <a href="#">03</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- Filter Section End -->

<!-- App Section Begin -->
<section class="app-section spad listings">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="img/phone.png" alt="">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="app-text">
                    <div class="section-title">
                        <h2>Get the App now!</h2>
                        <p>Explore some of the best places in the world</p>
                    </div>
                    <p>Morbi id dictum quam, ut commodo lorem. Donec bibendum, enim ut luctus dictum, nisl turpis
                        scelerisque sem, in dapibus neque odio eu sapien. Morbi ac aliquet erat. Sed dapibus, augue et
                        malesuada maximus.</p>
                    <ul>
                        <li><i class="fa fa-check"></i>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis
                            veli
                        </li>
                        <li><i class="fa fa-check"></i>Vestibulum malesuada aliquet libero viverra cursus</li>
                        <li><i class="fa fa-check"></i>Urna quam, euismod sit amet mollis quis, vestibulum quis veli
                        </li>
                    </ul>
                    <a href="#"><img src="img/apple-store.jpg" alt=""></a>
                    <a href="#"><img src="img/google-store.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- App Section End -->


<script src="slick/slick.js" type="text/javascript" charset="utf-8"></script>


<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>