<!--게시글 페이지. 장소, 제목 등 보여줌-->
<!--플래너 이름이나 아래 버튼 클릭시 플래너페이지로 이동-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script language="javascript">
    function movetoPlanner() {
    opener.location.href="guidepage_test.html";
    self.close();
    }
    </script>

    <style>
        img{
            max-width: 100%;
            height: auto;
        }
        table{
            table-layout: fixed;
            border: black;
            width: 1200px;
            height: 500px;
            border-style: solid;
            word-break: break-all;
        }
    </style>
</head>


<!--chg. 이미지 사이즈따라서 테이블 사이즈가 바뀌는데 고정시켜야함.-->
<!--작을 때는 테이블 사이즈가 정의한 대로 되는데, 클 때는 테이블 위아래가 커짐.-->
<body>
    <h1>게시글 조회 페이지</h1>


        <table border="1">
            <tr>

                <td class="postImg" rowspan="5" width="55%" height="100%" align="center">

                        <img src = "img/cats/cat.jpg" alt="">

                </td>

                <td class="postPlanner" width="45%" height="7%">
                    <a href="guidepage_test.html">플래너이름</a>
                </td>
            </tr>

            <tr>
                <td class="postTitle" width="45%" height="7%">글제목</td>
            </tr>

            <tr>
                <td class="postCategory" width="45%" height="7%">카테고리</td>
            </tr>

            <tr>
                <td class="postLocation" width="45%" height="7%">위치</td>
            </tr>

            <tr>
                <td class="postContents" width="45%" height="72%">소개글</td>
            </tr>
        </table>

    <br>
    <center>
        <input type="button" value="계획신청 하러가기" onclick="movetoPlanner()";"/>
        <input type="button" value="닫기" onclick="self.close();" />
    </center>


</body>
</html>