<!DOCTYPE html>
<html lang="zxx">

<head>

    <style type="text/css">
    .request-item{
        text-align: left;

    };


    </style>

    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Local Directory | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section listings">
        <div class="container-fluid">
            <div class="logo">
                <a href="./index.html"><img style="width:180px; height:65px" src="img/yeah.png" alt=""></a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="how-it-works.html">Explore</a></li>
                    <li><a href="listings.html">More Cities</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li class="active"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                    <a href="#">Register/</a>
                    <a href="#">Login</a>
                </div>
                <a href="#" class="primary-btn">Add Listing</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->


<!--메뉴바랑 본문사이 여백-->
    <div class="hero-listing set-bg" data-setbg="img/cats/bg.jpg" style="height: 200px;">
    </div>
    <!--메뉴바랑 본문사이 여백-->


    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

<!--                    chg. form작성시에 이동할 페이지 써야함-->
                    <form action="#" class="contact-form">
                        <div class="row">

                            <h1 style="font-size: 30px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 8px;">REQUEST FORM</h1>

                            <div class="col-lg-12 text-center" style="border: medium solid black;">


<!--                            chg. DB에서 선택한 곳 3곳 선택장소-->
                                <div class="col-lg-12 text-center" style="margin-top: 20px; text-align: left">
                                    <h2 style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 8px;">선택장소</h2>


                                    <div class="request-item">
                                            <img src = "img/cats/cat4.jpg"
                                                 style="width: 250px; height: 250px;">
                                            <h4>말랑말랑 꾹꾹이 코스</h4>
                                            <p>마사지 기능사 1급의 전문 고양이 선생님의 최고급 꾹꾹이</p>
                                            <input type="button" value="X">
                                            <hr>
                                    </div>

                                    <div class="request-item">
                                            <img src = "img/cats/cat4.jpg"
                                                 style="width: 250px; height: 250px;" >
                                            <h4>말랑말랑 꾹꾹이 코스</h4>
                                            <p>마사지 기능사 1급의 전문 고양이 선생님의 최고급 꾹꾹이</p>
                                            <input type="button" value="X">
                                            <hr>
                                    </div>



                                </div>
<!--                                여기까지가 선택장소 이미지랑 설명-->


                                <div class="row">
<!--                                    <div class="col-lg-6">-->
<!--                                        <h2 style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">이름</h2>-->
<!--                                        <input type="text" placeholder="Your Name">-->
<!--                                    </div>-->

<!--                                    <div class="col-lg-6" >-->
<!--                                        <h2 style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">연락처</h2>-->
<!--                                        <input type="text" placeholder="Your E-mail">-->
<!--                                    </div>-->

<!--                                    <div class="col-lg-6">-->
<!--                                        <input type="text" placeholder="Subject">-->
<!--                                    </div>-->
                                </div>


                                <div style = "text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">날짜 </span>

                                    <select name="year">
                                        <option value="2019" selected="selected">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                    </select>&nbsp;년도&nbsp;

                                    <select name="month">
                                        <option value="01"selected="selected">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>&nbsp;월&nbsp;

                                    <select name="day">
                                        <option value="01"selected="selected">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>&nbsp;일&nbsp;
                                </div>

                                <br>

                                <div style = "text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">인원 </span>


                                    <select name="numofpeople">
                                        <option value="01"selected="selected">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10이상">10이상</option>
                                        <option value="20이상">20이상</option>
                                    </select>&nbsp;명&nbsp;

                                </div>
                                <br>


                                <!--                                    나이-->
                                <div style = "text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">나이 </span>


                                    <select name="age">
                                        <option value="10대"selected="selected">10대</option>
                                        <option value="20대">20대</option>
                                        <option value="30대">30대</option>
                                        <option value="40대">40대</option>
                                        <option value="50대">50대</option>
                                        <option value="60대">60대</option>
                                        <option value="70대">70대</option>
                                        <option value="80대">80대</option>
                                        <option value="90대 이상">90대 이상</option>
                                    </select>

                                </div>
                                <br>

<!--                                시간. 오전오후하루-->
                                <div style = "text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">시간 </span>

                                    <select name="howlong">
                                        <option value="하루"selected="selected">하루</option>
                                        <option value="오전">오전</option>
                                        <option value="오후">오후</option>
                                    </select>
                                </div>
                                <br>

<!--                                차량-->
                                <div style = "text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;">자가용 이용 </span>

                                    <select name="usecar">
                                        <option value="예" selected="selected">예</option>
                                        <option value="아니오">아니오</option>
                                    </select>
                                </div>
                                <br>

<!--                                이런정보가 필요해요-->
                                <div style="text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;"> "이런 정보가 필요해요" </span>

                                    <div style="text-align: center">
                                        <input type="checkbox" name="yes_info1" value="주변식당">주변식당
                                        <input type="checkbox" name="yes_info2" value="대중교통">대중교통
                                        <input type="checkbox" name="yes_info3" value="주차공간">주차공간
                                        <input type="checkbox" name="yes_info4" value="장애인 편의시설">장애인 편의시설
                                        <input type="checkbox" name="yes_info5" value="휴식장소">휴식장소
                                    </div>
                                </div>
                                <br>


                                <!--이런 것들은 유의해주세요-->
                                <div style="text-align: left">
                                    <span style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 25px;"> "이런 것들은 유의해주세요" </span>

                                    <div style="text-align: center">
                                        <input type="checkbox" name="no_info1" value="오래걷지못해요">오래걷지못해요
                                        <input type="checkbox" name="no_info2" value="음식알러지가있어요">음식알러지가있어요
                                    </div>
                                </div>
                                <br>


<!--                                <div class="col-lg-12 text-center">-->
<!--                                    <input type="text" placeholder="Subject">-->
<!--                                </div>-->


                                <div class="col-lg-12 text-center">

                                    <h2 style="font-size: 20px; text-align: left; margin-bottom: 5px; font-family: HY견고딕; margin-left: 8px;">추가 요구사항</h2>
                                    <textarea placeholder="플래너에게 하고 말을 적어주세요."></textarea>

                                    <button type="submit" style="margin-bottom: 30px;">신청서 제출</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="cs-info">
                        <h2>Contact Info</h2>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Ut gravida mattis magna, non varius lorem sodales nec. In libero orci, ornare non nisl a, auctor euismod purus. Morbi pretium interdum vestibulum. </p>
                        <span>Main Road , No 25/11</span>
                        <ul>
                            <li>+34 556788 3221</li>
                            <li>contact@pizzaplace.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-add">
                        <img src="img/contact-add.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#" class="newslatter-form">
                        <input type="text" placeholder="Your email address">
                        <button type="submit">Subscribe to our Newsletter</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li>About us</li>
                            <li>Testimonials</li>
                            <li>How it works</li>
                            <li>Create an account</li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Categories</h4>
                        <ul>
                            <li>Hotels</li>
                            <li>Restaurant</li>
                            <li>Spa & resorts</li>
                            <li>Concert & Events</li>
                            <li>Bars & Pubs</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Usefull Links</h4>
                        <ul>
                            <li>About us</li>
                            <li>Testimonials</li>
                            <li>How it works</li>
                            <li>Create an account</li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>From the Blog</h4>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="img/f-blog-1.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best clubs in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="img/f-blog-2.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <h6>10 Best clubs in town</h6>
                                <span>March 27, 2019</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom">
                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="copyright"><p class="text-white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p></div>
                </div>
                <div class="col-lg-7 text-center text-lg-right order-1 order-lg-2">
                    <div class="footer-menu">
                        <a href="#">Home</a>
                        <a href="#">Explore</a>
                        <a href="#">More Cities</a>
                        <a href="#">News</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>