<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블러 지워진 페이지</title>
</head>

<body>
<h1>계획 확인</h1>

<div id="check_plan">
    <div style="border: solid black 1px;">

        <center>
            <h4>미리보기 내용이 들어갈 위치</h4>
            <h4>미리보기 내용이 들어갈 위치</h4>

            <h1>블러</h1>
            <p>블러할 내용이 들어갈 위치.<br>
                ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
                1234567890<br>
                가나다라마바사아자차카타파하<br>
            </p>
        </center>

    </div>
</div>
<br>
<div>
    <h1>후기 작성</h1>
    <form action="#" id="AAA">
        <select name="stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>점 / 5점

        <h3>리뷰를 남겨주세요</h3>
        <textarea name = "review" form="AAA" cols="40" rows="10" placeholder="이런 점이 좋았고 이런 점이 보완이 필요해요."></textarea>
        <br><input type="submit" value="확인">
    </form>
</div>


</body>
</html>